#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 910px;
    background-color: bisque;
}

#right {
    width: 440px;
    background-color: aqua;
}

#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}