* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-clock {
    display: grid;
    grid-template-areas: "A B";
    border: 1px red solid;
    padding: 100px 70px 100px 70px
}

.stop-watch {
    display: flex;
    position: relative;
    top: 0px;
}

.clock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.controller button {
    padding: 5px 20px 5px 20px;
}

.dot {
    margin: 0px;
    font-size: 60px;
    padding-left: 7px;
    padding-bottom: 10px;
}

.dot2 {
    margin: 0px;
    font-size: 60px;
    padding-left: 7px;
    padding-bottom: 10px;
}

.minute,
.second,
.milisecond {
    font-size: 50px;
    padding-left: 7px;
}

.flag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0px;
    border-left: 1px;
    border-color: red;
    border-style: solid;
    padding: 10px;
    margin-left: 70px;
}

.flag ol {}